 h1#loginText {
            color: gold;
            padding: 0px,0,0px,0;
            font-size: 70px;
            text-align: center;
        }

         img#titleImg {
            width: 120px;
            height: 120px;
        }

         label {
            display:block;
            color: blue;
            font-family: 'Exo 2', sans-serif;
             -webkit-box-sizing: content-box;
              -moz-box-sizing: content-box;
              box-sizing: content-box;
              border: none;
              
        }


        header {
            width: auto;
            height: 150px;
            color: rgb(255, 247, 0);
            font-size: 50px;
            text-shadow: rgb(3, 3, 3) 3px 8px 7px;
            font-family: 'Exo 2', sans-serif;

  }
        
        div {
            
            align-content:center;
            padding: 20px,20px,20px,20px;
            margin-bottom: 25px;
            margin-top: 25px;
            
        }
        form {
           
            align-content: center;
            text-align: center;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        .inputs {
           
            animation:ease-in;
            border-style:solid;
            border-color:blue;
            font-size: 20px;
            margin:auto;
            font-family: 'Exo 2', sans-serif;

        }
      

        body {
            background-image: url(http://static2.grsites.com/archive/textures/misc/misc046.jpg);
        }

       
        

        .live-search-list {
            
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            display:block;
          
            animation:ease-in;
            border-style:double;
            text-shadow: 2px 2px 20px #FAFA11;
            border-color:gold;
            font-size: 18px;
            margin:auto;
           
           
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            font-family: 'Lato', sans-serif;
            
          
            padding: 1em;
            list-style-type: none;
            background-color: black;
            margin-left:350px;
            margin-top: 0;
            width:200px;
            float:left;

            


            
            color: #fff;
        }



        .live-search-box {
            
            display:block;
            animation:ease-in;
            border-style:double;
            text-shadow: 2px 2px 20px #FAFA11;
            border-color:gold;
            font-size: 18px;
            margin:auto;
        }

        .buttonGold {
              width:200px;
              height:50px;
              font-family: 'Exo 2', sans-serif;
              background: #fff700;
              background-image: -webkit-linear-gradient(top, #fff700, #e1e807);
              background-image: -moz-linear-gradient(top, #fff700, #e1e807);
              background-image: -ms-linear-gradient(top, #fff700, #e1e807);
              background-image: -o-linear-gradient(top, #fff700, #e1e807);
              background-image: linear-gradient(to bottom, #fff700, #e1e807);
              -webkit-border-radius: 31;
              -moz-border-radius: 31;
              border-radius: 31px;
              text-shadow: 2px 5px 5px #666666;
             
              color: #0048ff;
              font-size:inherit;
              padding: 10px 40px 10px 40px;
              text-decoration: none;
            
        }


        .buttonGold:hover {
          background: #6373ff;
          text-decoration: none;
}

        .buttonBlue {
            width:200px;
              height:50px;
              font-family: 'Exo 2', sans-serif;
             background: #0011ff;
              background-image: -webkit-linear-gradient(top, #0011ff, #5459f0);
              background-image: -moz-linear-gradient(top, #0011ff, #5459f0);
              background-image: -ms-linear-gradient(top, #0011ff, #5459f0);
              background-image: -o-linear-gradient(top, #0011ff, #5459f0);
              background-image: linear-gradient(to bottom, #0011ff, #5459f0);
              -webkit-border-radius: 31;
              -moz-border-radius: 31;
              border-radius: 31px;
              text-shadow: 2px 5px 5px #666666;
              color: #ffff00;
              font-size: inherit;
              padding: 10px 40px 10px 40px;
              text-decoration: none;
        }

        .buttonBlue:hover {
          background: #fcf883;
          text-decoration: none;
}

        Button:disabled{

            width: 400px;
            height: 45px;
            font-size: medium;
            color: blue;
            background-color: gold;
            border-color: blue;
            padding: 20px,20px,20px,20px;
            

        }


        .live-search-list li {
            color: #fff;
            list-style: none;
            padding: 0;
            margin: 5px 0;
        }

        footer {
    height:300px;
    }

        
      table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}